
.chatContainer{
    flex: 2;
    position: relative;

}
.chat{
    position: relative;
    height: 100%;
}

.chatInfo{
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}
.chatIcons{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.chatInfo svg{
    color: white;
    height: 24px;
    width: 24px;
}

.overlay {
    position: absolute;
    top: 7.5%;
    right: 1%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    background: #5d5b8d;
    border-radius: 5px;
    padding: 0px;
    
}

.menu li{
    border: 1px solid black;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}
.menu li:hover{
    background-color: #9e9cc3;
}

