
.chatContainer{
    flex: 2;
    position: relative;

}
.chat{
    position: relative;
    height: 100%;
}

.chatInfo{
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}
.chatIcons{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.chatInfo svg{
    color: white;
    height: 24px;
    width: 24px;
}

.overlay {
    position: absolute;
    top: 12%;
    right: 1%;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    background: #5d5b8d;
    border-radius: 5px;
    padding: 0px;
    width: 100%;
     box-shadow: 0 2px 5px 0 #9e9cc3;
    z-index: 100;
    
}

.menu li{
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: start;
}
.menu li:hover{
    background-color: #9e9cc3;
}

