.message{
    display: flex;
    gap: 10px;
}


.messageInfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}
.messageInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.messageInfo span{
    margin-top: 5px;
}
.messageContent{
    max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.messageContent p{
    background-color: white;
    padding: 14px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}
.messageContent .fileDownload{
    background-color: white;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
    text-decoration: none;
}

.messageContent img{
    width: 50%;
}
.owner{
    flex-direction: row-reverse;
}
.owner .messageContent{
   align-items: flex-end; 
}
.owner p{
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0px 10px 10px;
}
.owner input{
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0px 10px 10px;
    padding:10px 14px;
    font-size: 16px;
    width: 100px;
    margin-top: 18px;
}
.owner input::placeholder{
    font-size: 16px !important;
    background-color: black;
    height: 1000px;
}
.owner svg{
    color: white;
}

.owner .fileDownload{
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0px 10px 10px;
    display: flex;
    height: 40px;
    align-items: center;
}

.ownerText{
    position: relative;
}
.ownerText p{
    display: flex;
}

.ownerText svg{
    display: none;
    position: absolute;
    right: 4px;
    top: 25%;
    cursor: pointer;
}
.ownerText:hover.ownerText svg{
    display: block;
}
.ownerTextMessage{
    margin: 0px;
    padding: 0px !important;
}