body{
    height: 100%;   
    width: 100%;
    font-family: "Inter";
}

::-webkit-scrollbar {
    width: 6px; /* Adjust as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background: #ddddf7; /* Change the color as desired */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5d5b8d; /* Change the color as desired */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5d5b8d; /* Change the color as desired */
}